body {
        background-color: #6495ED;
        font-size: 50px;
        text-align: center;
      }

        h1{
          color:yellow;
          margin:0px;
          font-size: 50px;
        }

      canvas {
        border: solid 20px yellow;
        height: 580px;
      }